body {
  margin: 0;
  padding: 0;
  
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box-header-top {
  background-color: #293449;
}
.search-site input::placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  
  background-color: #293449;

  border: none;
}
.search-site input[type="text"] {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  border: none;
}
.header-bookmark-bookmarks a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.header-bookmark-basket a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.header-bookmark-checkout a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.header-headline {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;

  display: inline-block;
}
.header-box-bottom {
  background-color: #f4f7f9;
}
.header-number {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
  border: 3px solid #ffffff;
}
.header-address {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.header-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
  
  text-decoration: none;
}
.main-navigation {
  background-color: #32425c;
}
.main-navigation li {
  list-style: none;
}
.main-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  
  text-decoration: none;
}
/*Стили шапки каталога*/
.catalog-basket {
  background-color: #ee3643;
}
.catalog-username {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}
.catalog-personal-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: none;
}
/*--------------------*/
/*Сетки шапки сайта*/
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-header-top {
  display: flex;

  width: 100%;
}
.main-logo-link {
  width: 220px;

  padding: 0;
  margin: 0;
  margin-left: 320px;
}
.main-logo {
  display: inline-block;

  text-align: center;
}
.search-site { 
  width: 221px;

  padding-left: 49px;
}
.header-bookmark {
  display: flex;
  justify-content: space-between;

  width: 450px;
}
.header-bookmark-bookmarks {
  padding: 14px 28px 0 44px;
}
.header-bookmark-basket {
  padding: 14px 28px 0 44px;
}
.header-bookmark-checkout {
  padding: 14px 22px 0 23px;
}
.header-box-bottom {
  width: 100%;
}
.header-middle-column {
  display: flex;
  flex-wrap: wrap;

  width: 940px;

  margin-top: 46px;
  margin-left: 360px;
}
.header-headline {
  width: 215px;

  margin: 0;
  padding: 0;
}
.header-info-column {
  width: 270px;

  margin-left: 61px;
}
.header-button-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-left: 69px;
}
.header-button-box a:nth-child(1) {
  padding: 15px 25px 15px 48px;
}
.header-button-box a:nth-child(2) {
  margin-left: 10px;
  padding: 14px 25px 15px 25px;
}
.main-navigation {
  width: 940px;

  margin-left: 320px;
  margin-top: 44px;
}
.main-navigation-column {
  display: flex;

  margin-bottom: 50px;
}
/*-----------------*/
/*Дополнительная сетка шапки каталога*/
.catalog-login {
  display: flex;
  flex-direction: column;

  margin: 0 0 0 51px;
}
.main-navigation-catalog {
  margin-left: -40px;
}
.main-navigation-column-catalog {
  margin-bottom: 0;
}
/*-----------------------------------*/
/*Декоративные стили шапки сайта*/
.main-logo-link  {
  display: flex;
  justify-content: center;

  padding: 13px 0; 

  background-color: #ee3643;

  position: relative;

  box-shadow: 0 5px #b52933; 
}
.header-input-box {
  position: relative;
}
.search-site input {
  border: 0;

  background-color: #293449;
}
.header-search-button {
  position: absolute;

  top: 0;
  left: -38px;

  width: 17px;
  height: 17px;

  border: 0;

  background-color: transparent;
  opacity: 0.3;
}
.header-bookmark-bookmarks {
  position: relative;
}
.header-bookmark-bookmarks a::after {
  content: "";

  width: 14px;
  height: 16px;

  position: absolute;
  left: 17px;

  background-image: url("../img/background/icon-bookmark.svg");
  opacity: 0.3;
}
.header-bookmark-basket {
  position: relative;
}
.header-bookmark-basket a::after {
  content: "";

  width: 15px;
  height: 15px;

  position: absolute;
  left: 17px;

  background-image: url("../img/background/icon-cart.svg");
  opacity: 0.3;
}
.header-bookmark-checkout {
  background-color: #63a63e;

  margin-left: -3px;
}
.header-number {
  margin: 0;
  padding: 13px 52px 11px 74px;
}
.header-number {
  position: relative;
}
.header-number::after {
  content: "";

  width: 19px;
  height: 19px;

  position: absolute;
  top: 13px;
  left: 15px;

  background-image: url("../img/background/icon-phone.svg");
  opacity: 0.5;
}
.header-address {
  margin: 10px 0 0 10px; 
  padding: 0;
}
.main-navigation-column li {
  padding: 22px 31px 22px 31px;
}
.header-button {
  position: relative;
}
.header-button-first:after {
  content: "";

  width: 20px;
  height: 17px;

  position: absolute;
  top: 16px;
  left: 14px;

  background-image: url("../img/background/icon-login.svg");
  opacity: 0.5;
}
.main-navigation {
  box-shadow: 0 5px 0 0 #293449;
}
/*------------------------------*/
/*Декоративные стили шапки каталога*/
.header-basket-active {
  background-color: #ee3643;
}
.catalog-username {
  padding: 14px 69px 14px 47px;

  position: relative;
}
.catalog-personal-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 210px;

  margin-top: 14px;
  margin-left: 17px;

  position: relative;
}
.catalog-personal-link a {
  text-decoration: underline;
}
.catalog-personal-link a::before {
  content: "";

  width: 4px;
  height: 5px;

  position: absolute;
  top: 7px;
  left: 90px;

  background-color: #32425c;

  border-radius: 50%;
}
.main-navigation-column-catalog li {
  padding: 8px 29px 22px 31px;
}
.catalog-username::before {
  content: "";

  width: 20px;
  height: 18px;

  position: absolute;
  top: 15px;
  left: 13px;

  background-image: url("../img/background/icon-user.svg");
  opacity: 0.5;
}
.catalog-username::after {
  content: "";

  width: 20px;
  height: 17px;

  position: absolute;
  top: 16px;
  right: 12px;

  background-image: url("../img/background/icon-login.svg");
  opacity: 0.5;
}
/*---------------------------------*/
/*Стили активных состояний шапки сайта*/
.main-logo-link:hover {
  background-color: #ca2c37;
}
.main-logo-link:active {
  background-color: #ba2732;
}
.header-bookmark-bookmarks:hover {
  background-color: #212a3a;
}
.header-bookmark-bookmarks:active {
  background-color: #161d29;
}
.header-bookmark-basket:hover {
  background-color: #212a3a;
}
.header-bookmark-basket:active {
  background-color: #161d29;
}
.header-bookmark-checkout:hover {
  background-color: #5fbb2d;
}
.header-bookmark-checkout:active {
  background-color: #518534;
}
.header-button:hover {
  color: #ee3643;
}
.header-button-first:hover {
  /*Не работает fill*/
}
.header-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation-column li:hover {
  background-color: #212a3a; 
}
.main-navigation-column li:active {
  background-color: #1d2739;
}
/*---------------------------*/
.promo-block  .imitation-li {
  list-style: none;
}
.promo-block h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.promo-block a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.15);
}
.promo-block .promo-block-drill  {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  text-transform: uppercase;
}
.promo-block p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.promo-block .imitation-li-left:nth-child(1) {
  background-color: #ffbf47;
}
.promo-block .imitation-li-left:nth-child(2) {
  background-color: #3bbce3;
}
.promo-block .imitation-li-right:nth-child(1) {
  background-color: #dc91d8;
}
.promo-block .imitation-li-right:nth-child(2) {
  background-color: #8ed78f;
}
.promo-block .imitation-li-right:nth-child(3) {
  background-color: #ffc047;
}
.promo-block .imitation-li-gib:nth-child(6) {
  background-color: #778899;
}
.main-container-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;

  text-decoration: none;
  text-transform: uppercase;

  list-style: none;

  border: 5px;
}
.popular-item-box-header {
  background-color: #f9f5f0;
}
.popular-item-box-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
}
.cart-item li {
  list-style: none;
}
.cart-item img {
  background-color: #ffffff;
}
.cart-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.cart-item p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.cart-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.popular-brand-box-header {
  background-color: #f9f5f0;
}
.popular-brand-box-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
}
.popular-brand {
  margin-top: 21px;
}
.popular-brand li {
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.popular-brand a {
  text-decoration: none;
}
.service {
  background-color: #f4f7f9;
}
.service h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}
.service h3:nth-child(5) {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}
.service p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.service li {
  list-style: none;
}
.service-navigation li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}
.service-navigation li:first-child {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #32425c;

  background-color: #ffffff;
}
.headline-company {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}
.paragraph-company {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.about-company li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  list-style: none;
}
.contacts a:nth-child(3) {
  text-decoration: none;
}
.letter label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.letter input[type="text"] {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.letter input::placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.company-letter-box-footer {
  background-color: #f4f4f4;
}
/*Стили активных состояний шапки каталога*/
.catalog-username::after:hover {
  /*настроить цвет*/
}
.catalog-username::before:hover {
  /*настроить цвет*/
}
.catalog-username:active {
  opacity: 0.5;
}
.catalog-personal-link a:hover {
  color: #ee3643;
}
.catalog-personal-link a:active {
  color: rgba(50, 66, 92, 0.3);
}
/*---------------------------------------*/
/*Сетки основного содержимого*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-block {
  margin-top: 59px;
}
.promo-block-column {
  display: flex;

  width: 940px;
}
.promo-block-column .imitation-li {
  width: 300px;

  margin-top: 20px;
}
.imitation-li-big {
  margin-top: 20px;
}
.promo-block-column-left {
  display: flex;
  flex-wrap: wrap;

  align-content: flex-start;

  position: relative;
}
.promo-block-column-left .imitation-li:nth-child(2) {
  margin-left: 20px;
}
.promo-block-column-right {
  display: flex;
  flex-direction: column;
}
.popular-item {
  margin-top: 53px;
}
.popular-item-box-header {
  display: flex;
  align-items: center;

  width: 940px;
}
.popular-item-column {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin: 0;
  margin-top: 21px;
  padding: 0;
}
.popular-item-column li {
  width: 220px;
}
.popular-brand-box-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 940px;
}
.popular-brand-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: 21px;

  width: 940px;
}
.popular-brand-column li {
  width: 220px;
  height: 145px;
}
.popular-brand-column li:nth-child(n+5) {
  margin-top: 20px;
}
.service {
  width: 100%;

  margin-top: 85px;
}
.service-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 940px;

  margin-bottom: 100px;
  margin-left: 192px;
}
.service-box-top {
  width: 430px;

  margin-top: 68px;
  margin-left: 130px;
}
.service-box-bottom {
  display: flex;

  flex-wrap: wrap;
}
.service-column-left {
  width: 240px;

  margin-left: 130px;
}
.service-column-left ul {
  margin: 0;
  padding: 0;

  margin-top: 74px;
}
.service-column-right {
  width: 295px;

  margin-top: 74px;
  margin-left: 80px;
}
.service-column-right h3 {
  margin: 0;
  padding: 0;
}
.service-column-right p {
  margin: 0;
  padding: 0;
}
.about-company-box {
  display: flex;
  justify-content: flex-start;

  width: 940px;

  margin-top: 82px;
}
.about-company {
  width: 545px;
}
.contacts {
  width: 300px;
  
  margin-left: 94px;
}
/*---------------------------*/
/*Сетки основного содержимого каталога*/
.main-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-navigation-crumbs {
  display: flex;

  width: 940px;

  padding: 0;
  margin: 0;

  margin-top: 25px;
}
.catalog-navigation-crumbs li {
  margin: 0;
  padding: 0;
}
.catalog-navigation-crumbs li:nth-child(1) {
  padding-left: 55px;
}
.catalog-navigation-crumbs li:nth-child(2) {
  padding-left: 39px;
}
.catalog-navigation-crumbs li:nth-child(3) {
  padding-left: 43px;
}
.main-box-perforator {
  width: 940px;

  margin-top: 25px;
}
.main-box-perforator h2 {
  margin-top: 32px;
  margin-left: 30px; 
}
.main-box-sorting {
  display: flex;

  width: 940px;

  margin-top: 20px;
}
.filter-paragraph {
  width: 220px;
}
.filter-paragraph p { 
  margin-left: 18px;
}
.filter-navigation-crumbs {
  display: flex;

  padding: 0;
  margin-left: 20px;
}
.filter-navigation-crumbs li:nth-child(1) {
  margin-left: 19px;
}
.filter-navigation-crumbs li:nth-child(2) {
  margin-left: 100px;
}
.filter-navigation-crumbs li:nth-child(3) {
  margin-left: 71px;
}
.filter-navigation-crumbs li:nth-child(4) {
  margin-left: 65px;
}
.filter-navigation-crumbs li:nth-child(5) {
  margin-left: 46px;
}
.filter-navigation-crumbs li:nth-child(6) {
  margin-left: 21px;
}
.main-container-catalog {
  display: flex;

  width: 940px;

  margin-top: 21px;
}
.main-filters {
  width: 220px;
}
.filter-form {
  margin-left: 35px;
}
.fieldset-manufacturer {
  margin-top: 51px;
}
.fieldset-nutrition {
  margin-top: 48px;
}
.filter-button {
  margin-top: 75px;
}
.catalog {
  margin-left: 20px; 
 
  width: 700px;
}
.catalog-cart-item {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}
.catalog-cart-item li:nth-child(2) {
  margin-left: 20px;
}
.catalog-cart-item li:nth-child(3) {
  margin-left: 20px;
}
.catalog-cart-item li:nth-child(5) {
  margin-left: 20px;
}
.catalog-cart-item li:nth-child(6) {
  margin-left: 20px;
}
.catalog-cart-item li:nth-child(8) {
  margin-left: 20px;
}
.catalog-cart-item li:nth-child(9) {
  margin-left: 20px;
}
.page-navigation-crumbs {
  width: 285px;
  
  margin-top: 52px;
  margin-right: 195px;
}
.page-navigation-list {
  display: flex;

  padding: 0;
}
.page-navigation-list li:nth-child(1) {
  margin-left: 10px; 

  width: 38px;
}
.page-navigation-list li:nth-child(2) {
  margin-left: 10px; 

  width: 38px;
}
.page-navigation-list li:nth-child(3) {
  margin-left: 10px; 

  width: 38px;
}
.page-navigation-list li:nth-child(4) {
  margin-left: 10px; 

  width: 140px;
}
.about-perforators {
  width: 100%;

  margin-top: 60px;
}
.about-perforators-box {
  width: 938px;

  margin-top: 67px;
  margin-left: 322px;
  margin-bottom: 73px;
}
/*------------------------------------*/
/*Декоративные стили основного содержимого*/
.imitation-li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.imitation-li h3 {
  margin: 19px 0 0 23px;
  padding: 0;
}
.imitation-li a {
  display: flex;
  justify-content: center;

  width: 135px;

  margin: 15px 0 17px 25px;
  padding: 12px 0;

  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.1)
}
.imitation-li-big {
  position: relative;
}
.imitation-li-big h3 {
  position: absolute;
  top: -13px;
  left: 24px;

  z-index: 1;
}
.imitation-li-big p {
  position: absolute;
  top: 45px;
  left: 24px;

  z-index: 1;
}
.imitation-li-big a {
  position: absolute;
  bottom: 22px;
  left: 25px;  

  z-index: 1;

  padding: 14px 45px 14px 45px;

  background-color: #ee3643;

  border-radius: 5px;
}
.imitation-li-big-second {
  position: relative;
}
.imitation-li-big-second h3 {
  position: absolute;
  top: 0;
  left: 24px;

  z-index: 1;
}
.imitation-li-big-second p {
  position: absolute;
  top: 45px;
  left: 24px;

  z-index: 1;
}
.imitation-li-big-second a {
  position: absolute;
  bottom: 22px;
  left: 25px;  

  z-index: 1;

  padding: 14px 45px 14px 45px;

  background-color: #ee3643;

  border-radius: 5px;
}
.button-left-big-second {
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  left: 25px;

  background-image: url("../img/background/icon-left.svg");
  background-color: transparent;

  border: 0;

  outline: transparent;
}
.button-right-big-second {
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  right: 25px;

  background-image: url("../img/background/icon-right.svg");
  background-color: transparent;

  border: 0;

  outline: transparent;
}
.button-left-small-second {
  position: absolute;

  bottom: 36px;
  left: 295px;

  padding-top: 10px;

  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border: transparent;
}
.button-right-small-second {
  position: absolute;

  bottom: 36px;
  right: 295px;

  padding-top: 10px;

  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border: transparent;
}
.imitation-li-big-second::after {
  content: "";

  position: absolute;

  bottom: 38px;
  right: 298px;

  padding-top: 6px;

  width: 6px;

  background-color: #ee3643;

  border-radius: 50%;

  z-index: 1;
}
.imitation-li {
  position: relative;
}
.imitation-li-left:nth-child(1)::after {
  content: "";

  width: 60px;
  height: 59px;

  position: absolute;
  top: 0px;
  right: 0px;

  background-image: url("../img/decorative/new.png");
}
.imitation-li-left:nth-child(1)::before {
  content: "";

  width: 44px;
  height: 65px;

  position: absolute;
  top: 31px;
  right: 43px;

  background-image: url("../img/background/icon-1.svg");
}
.imitation-li-left:nth-child(2)::before {
  content: "";

  width: 75px;
  height: 61px;

  position: absolute;
  top: 33px;
  right: 28px;

  background-image: url("../img/background/icon-2.svg");
}
.imitation-li-right:nth-child(1)::before {
  content: "";

  width: 78px;
  height: 62px;

  position: absolute;
  top: 31px;
  right: 31px;

  background-image: url("../img/background/icon-3.svg");
}
.imitation-li-right:nth-child(2)::before {
  content: "";

  width: 59px;
  height: 72px;

  position: absolute;
  top: 26px;
  right: 45px;

  background-image: url("../img/background/icon-4.svg");
}
.imitation-li-right:nth-child(3)::before {
  content: "";

  width: 78px;
  height: 63px;

  position: absolute;
  top: 32px;
  right: 31px;

  background-image: url("../img/background/icon-5.svg");
}
.button-left-big {
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  left: 25px;

  background-image: url("../img/background/icon-left.svg");
  background-color: transparent;

  border: 0;

  outline: transparent;
}
.button-right-big {
  width: 22px;
  height: 40px;

  position: absolute;
  top: 114px;
  right: 25px;

  background-image: url("../img/background/icon-right.svg");
  background-color: transparent;

  border: 0;

  outline: transparent;
}
.button-left-small {
  position: absolute;

  bottom: 36px;
  left: 295px;

  padding-top: 10px;

  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border: transparent;
}
.button-right-small {
  position: absolute;

  bottom: 36px;
  right: 295px;

  padding-top: 10px;

  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border: transparent;
}
.imitation-li-big::after {
  content: "";

  position: absolute;

  bottom: 38px;
  right: 298px;

  padding-top: 6px;

  width: 6px;

  background-color: #ee3643;

  border-radius: 50%;

  z-index: 1;
}
.popular-item-box-header a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 55px 14px 55px;
  margin-left: 343px;

  border-radius: 5px;
}
.popular-item-box-header h2 {
  margin-left: 30px;
}
.popular-item-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  border: 1px solid #eaeaea;

  position: relative;
}
.popular-item-cart:last-child::before {
  content: "";

  width: 60px;
  height: 59px;

  position: absolute;
  top: 0px;
  right: 0px;

  background-image: url("../img/decorative/new.png");

  z-index: 1;
}
.popular-item-cart h3 {
  width: 155px;
  text-align: center;

  margin-bottom: 0; 
}
.popular-item-cart-buy {
  background-color: #ee3643;

  margin-bottom: 21px;
  padding: 13px 40px 13px 36px;

  border-radius: 5px;

  position: relative;
}
.popular-item-cart-buy::after {
  content: "";

  position: absolute;

  right: -33px;
  bottom: 0;

  border: 22px solid #ffffff;
  border-left-color: #ee3643;
}
.popular-item-cart-not {
  margin-top: 52px;
}
.popular-brand-box-header a {
  padding: 13px 70px 13px 70px;

  margin-left: 269px;

  border-radius: 5px;
}
.popular-brand-column li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-navigation {
  display: flex;
  flex-direction: column;

  position: relative;
}
.service-navigation::before {
  content: "";

  width: 10px;
  height: 279px;

  position: absolute;
  top: -35px;
  right: 0;

  background-image: url("../img/decorative/shadow.png");
}
.service-navigation li {
  background-color: #32425c;

  padding: 20px 0 20px 23px;
}
.service-navigation li:nth-child(3) {
  box-shadow: 0 -1px 0 0 #293449;
}
.service-column-right {
  position: relative;
}
.service-column-right p {
  margin-top: 35px;
}
.service-column-right::before {
  content: "";

  width: 468px;
  height: 261px;

  position: absolute;
  top: 21px;
  left: 151px;

  background-image: url("../img/decorative/delivery.png");
}
.about-company p {
  margin: 0;
  padding: 0;
}
.about-company p:nth-child(3) {
  margin-top: 36px;
}
.about-company-delivery {
  margin: 26px 0 36px 0;
  padding: 0;
}
.about-company-delivery li {
  margin-left: 35px;
  padding: 10px 0;

  position: relative;
}
.about-company-delivery li::after {
  content: "";

  position: absolute;
  display: block;

  top: 20px;
  left: -35px;

  width: 25px;

  padding-top: 2px; 

  background-color: #ee3643;
}
.about-company a {
  padding: 13px 40px 13px 40px;

  border-radius: 5px;
}
.contacts p {
  margin-bottom: 38px;
}
.contacts a:nth-child(3) {
  display: block;

  margin-bottom: 62px;
}
.contacts a:nth-child(4) {
  padding: 13px 61px 13px 61px;

  border-radius: 5px;
}
/*----------------------------------------*/
/*Стили активных состояний основного содержимого*/
.imitation-li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.imitation-li a:active{
  background-color: rgba(0, 0, 0, 0.3);
}
.imitation-li-big {
 z-index: 3;
}
.imitation-li-big-second {
  position: absolute;

  top: 163px;

  z-index: 2;
}
.popular-item-cart:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

  border-color: transparent; 
}
.item-box {
  position: relative;
}
.item-box-button {
  display: none;

  position: absolute;

  top: 0;
  left: 0;

  background-color: #ffffff;

  padding-top: 44px;
  padding-left: 41px;
  padding-right: 30px;
}
.popular-item-cart:hover .item-box-button {
  display: block;

  z-index: 10;
}
.item-box-button:hover {
  /*Доделать рабочее состояние*/
}
.item-box-button-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  padding: 14px 45px 14px 49px;

  background-color: #63a63e;

  border: none;
  border-radius: 5px;

  box-shadow: 0 3px #367315;

  position: relative;
}
.item-box-button-buy::after {
  content: "";

  position: absolute;

  top: 14px;
  left: 15px;

  width: 15px;
  height: 15px;

  background-image: url("../img/background/icon-cart.svg");
  opacity: 0.3;
}
.item-box-button-buy:hover {
  background-color: #5fbb2d;
}
.item-box-button-buy::after:hover {
  /*Не работает opacity*/
}
.item-box-button-buy:active {
  background-color: #518534;
}
.item-box-button-buy::after:active {
  /*Не работает opacity*/
}
.item-box-button-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;

  padding: 14px 32px 14px 31px;
  margin-top: 7px;

  background-color: #ffffff;

  border: solid 3px #63a63e;
  border-radius: 5px;
}
.item-box-button-bookmark:hover {
  border-color: #32425c;
}
.item-box-button-bookmark:active {
  opacity: 0.3;
}
.popular-brand-column li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-brand-column li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);

  opacity: 0.5;
}
.service-navigation li:hover {
  background-color: #293449;
}
.service-navigation li:active {
  /*Сделать переключатель содержимого*/
}
.service-column-warranty {
  margin-top: 74px;
  margin-left: 450px;
}
.service-column-warranty h3 {
  margin: 0;
  padding: 0;
}
.service-column-warranty p {
  margin: 0;
  padding: 0;
}
.service-column-warranty {
  position: relative;
}
.service-column-warranty p {
  margin-top: 35px;
}
.service-column-warranty::before {
  content: "";

  width: 389px;
  height: 283px;

  position: absolute;
  top: 21px;
  left: 239px;

  background-image: url("../img/background/warranty.png");
}
.service-column-credit {
  margin-top: 74px;
  margin-left: 450px;
}
.service-column-credit h3 {
  margin: 0;
  padding: 0;
}
.service-column-credit p {
  margin: 0;
  padding: 0;
}
.service-column-credit {
  position: relative;
}
.service-column-credit p {
  margin-top: 35px;
}
.service-column-credit::before {
  content: "";

  width: 465px;
  height: 285px;

  position: absolute;
  top: 21px;
  left: 165px;

  background-image: url("../img/background/credit.png");
}
.service-column-credit-button {
  margin-top: 31px;
  padding: 14px 44px;

  border-radius: 5px;

  text-transform: uppercase;
}
/*----------------------------------------------*/
/*Стили активных состояний основного содержимого каталога*/
.filter-navigation-inactive a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
.filter-navigation-inactive a:active {
  color: #ee3643;

  border: transparent;
}
.filter-navigation-down::after:hover {
  /*Изменить цвет*/ 
}
.filter-navigation-down::after:active {
  
}
.label-filter-manufacturer::after:hover {
  background-color: #c5c5c5;
}
.label-filter-manufacturer::after:active {
  /*Изменить цвета*/
}
.label-filter-manufacturer::before:hover {
  
}
.label-filter-manufacturer::before:active {
  
}
.catalog-item-cart:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

  border-color: transparent;
}
.page-navigation-inactive:hover {
  border-color: #bdc6ca;
}
.page-navigation-inactive:active {
  border-color: #ee3643;
}
.catalog-item-cart:hover .item-box-button {
  display: block;
}
/*----------------------------------------------*/
/*Стили основного содержимого каталога*/
.catalog-navigation-crumbs li {
  list-style: none;
}
.catalog-navigation-crumbs a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}
.main-box-perforator {
  background-color: #f2f6f8; 
}
.main-box-perforator h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
}
.filter-navigation-crumbs {
  background-color: #f7f3ec;
}
.filter-navigation-crumbs b {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
}
.filter-navigation-crumbs li {
  list-style: none;
}
.filter-paragraph p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
}
.filter-navigation-active a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ee3643;

  text-decoration: none;
  text-transform: uppercase;
}
.filter-navigation-inactive a  {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-transform: uppercase;

  border-bottom: 1px dashed #ee3643;
}
.main-color p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}
.filter-legend {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}
/*.filter fieldset {
  
}*/
.filter-form li {
  list-style: none;
}
.filter-form label {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;

  text-transform: uppercase;
}
.filter-button {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.page-navigation-crumbs li {
  list-style: none;
}
.page-navigation-crumbs li:nth-child(1) {
  background-color: #ee3643;
}
.page-navigation-inactive {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.page-navigation-crumbs a {
  text-decoration: none;
}
.page-navigation-active a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
.page-navigation-inactive a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
}
.about-perforators {
  background-color: #f4f7f9;
}
.about-perforators h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}
.about-perforators p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.modal-item-basket b {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.modal-item-box {
  background-color: #f1f1f1;
}
.modal-item-basket a {
  text-decoration: none;
}
.modal-item-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}
/*------------------------------------*/
/*Декоративные стили основного содержимого каталога*/
.catalog-navigation-crumbs {
  position: relative;
}
.catalog-navigation-crumbs li:nth-child(1)::after {
  content: "";

  width: 14px;
  height: 12px;

  position: absolute;

  top: 2px;
  left: 0;
  
  background-image: url("../img/background/icon-home.svg");
}
.catalog-navigation-crumbs li:nth-child(2)::after {
  content: "";

  width: 8px;
  height: 12px;

  position: absolute;

  top: 2px;
  left: 29px;
  
  background-image: url("../img/background/icon-right-small.svg");
}
.catalog-navigation-crumbs li:nth-child(3)::after {
  content: "";

  width: 8px;
  height: 12px;

  position: absolute;

  top: 2px;
  left: 126px;
  
  background-image: url("../img/background/icon-right-small.svg");
}
.catalog-navigation-crumbs li:nth-child(3)::before {
  content: "";

  width: 8px;
  height: 12px;

  position: absolute;

  top: 2px;
  left: 270px;
  
  background-image: url("../img/background/icon-right-small.svg");
}
.filter-paragraph {
  background-color: #f7f3ec; 
}
.filter-navigation-crumbs-box {
  background-color: #f7f3ec;

  margin-left: 20px;

  width: 700px;
}
.filter-navigation-active {
  position: relative;
}
.filter-navigation-inactive {
  position: relative;
}
.filter-navigation-active .filter-navigation-up:after {
  content: "";

  width: 11px;
  height: 10px;

  position: absolute;

  top: 3px;
  left: -15px;

  background-image: url("../img/background/icon-up-dir.svg"); 
}
.filter-navigation-down:after {
  content: "";

  width: 11px;
  height: 10px;

  position: absolute;

  top: 3px;
  left: -5px;

  background-image: url("../img/background/icon-down-dir.svg"); 
  opacity: 0.3;
}
.fieldset-buy {
  padding: 0 0 25px 0; 
  margin: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.filter-legend {
  padding: 0; 
}
.fieldset-manufacturer {
  padding: 0 0 25px 0;
  margin: 25px 0 0 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.filter-form {
  padding: 0;
}
.label-filter-manufacturer {
  position: relative;
}
.label-filter-manufacturer::after {
  content: "";

  position: absolute;

  width: 19px;
  height: 19px;

  top: -2px;
  left: -35px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}
.filter-manufacturer:checked + .label-filter-manufacturer::before {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  top: -2px;
  left: -35px;

  background-image: url("../img/background/checkbox-on.svg")
}
.label-fieldset-nutrition {
  position: relative;
}
.label-fieldset-nutrition::after {
  content: "";

  position: absolute;

  width: 19px;
  height: 19px;

  top: -4px;
  left: -35px;

  border: 3px solid #c5c5c5;
  border-radius: 50%;
}
.filter-nutrition:checked + .label-fieldset-nutrition::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;

  top: -4px;
  left: -35px;

  background-image: url("../img/background/radio-on.svg");
}
.filter-form li:not(:last-child) {
  margin-bottom: 14px; 
}
.fieldset-nutrition {
  padding: 0;
  margin: 25px 0 0 0;

  border: none;
}
.filter-button {
  padding: 14px 39px;
}
.catalog-item-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  border: 1px solid #eaeaea;

  position: relative;
}
.catalog-item-cart h3 {
  width: 155px;
  text-align: center;

  margin-bottom: 0; 
}
.catalog-item-cart-buy {
  background-color: #ee3643;

  margin-bottom: 21px;
  padding: 13px 40px 13px 36px;

  border-radius: 5px;

  position: relative;
}
.catalog-item-cart-buy::after {
  content: "";

  position: absolute;

  right: -33px;
  bottom: 0;

  border: 22px solid #ffffff;
  border-left-color: #ee3643;
}
.catalog-item-cart-not {
  background-color: #ee3643;

  margin-top: 52px;
  margin-bottom: 21px;
  padding: 13px 40px 13px 36px;

  border-radius: 5px;

  position: relative;
}
.catalog-item-cart-not::after {
  content: "";

  position: absolute;

  right: -33px;
  bottom: 0;

  border: 22px solid #ffffff;
  border-left-color: #ee3643;
}
.catalog-cart-item li:nth-child(n+4) {
  margin-top: 21px;
}
.catalog-cart-item li:nth-child(3)::after {
  content: "";

  width: 60px;
  height: 59px;

  position: absolute;

  top: 0;
  right: 0;

  background-image: url("../img/decorative/new.png"); 
}
.catalog-cart-item li:nth-child(5)::after {
  content: "";

  width: 60px;
  height: 59px;

  position: absolute;

  top: 0;
  right: 0;

  background-image: url("../img/decorative/new.png"); 
}
.catalog-cart-item li:nth-child(7)::after {
  content: "";

  width: 60px;
  height: 59px;

  position: absolute;

  top: 0;
  right: 0;

  background-image: url("../img/decorative/new.png"); 
}
.page-navigation-list li {
  padding: 15px 17px;

  border-radius: 5px;
}
/*------------------------------------------------*/
.main-footer-box-top {
  background-color: #32425c;
}
.footer-logo {
  background-color: #ee3643;
}
.footer-address {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.sub-navigation li {
  list-style: none;
}
.sub-navigation-top a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  text-decoration: none;
}
.sub-navigation-bottom a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;

  text-decoration: none;
}
.main-footer-box-bottom {
  background-color: #293449;
}
.footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.social-button li {
  list-style: none;
}
.social-button a {
  text-decoration: none;
}
.footer-paragraph  {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footer-link  {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;

  text-decoration: none;
}
/*Сетки футера*/
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 86px;
}
.main-footer-catalog {
  margin-top: 0;
}
.footer-logo-link {
  width: 228px;
  
  display: block;

  background-color: #ee3643;
}
.footer-address {
  margin-top: 32px;
}
.main-footer-box-top {
  display: flex;

  width: 100%;
}
.main-footer-column-top {
  margin-left: 322px; 
}
.main-footer-column-bottom {
  margin-left: 68px; 
}
.sub-navigation {
  display: flex;
  flex-direction: column;
}
.sub-navigation li:not(:first-child) {
  margin-left: 60px;
}
.sub-navigation-top {
  display: flex;
}
.sub-navigation-top li {
  margin-top: 42px;
}
.sub-navigation-bottom {
  display: flex;

  margin-left: 36px;
}
.main-footer-box-bottom {
  width: 100%;
}
.main-footer-box-bottom {
  display: flex;
  justify-content: space-between;
}
.main-footer-left-column {
  width: 227px;

  margin-left: 322px;
  margin-top: 40px;
}
.main-footer-middle-column {
  margin-top: 40px;
}
.social-button {
  display: flex;
  justify-content: space-between;
}
.social-button li {
  width: 42px;
  height: 42px;

  margin: 0;
  padding: 0;

  background-color: #212a3a;

  border-radius: 50%;
}
.social-button li:not(:first-child) {
  margin-left: 4px;
}
.main-footer-right-column {
  display: flex;

  margin-top: 40px;
  margin-right: 145px;
}
.main-footer-feedback-right {
  margin-left: 53px;
}
.main-footer-feedback-box {
  display: flex;
  flex-direction: column;
}
/*------------*/
/*Стили декоративных элементов футера*/
.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 41px 20px 41px;

  background-color: #ee3643;

  box-shadow: 0 5px #b52933; /*Изменить цвет*/
}
.social-button-link {
  position: relative;
}
.social-button-vk::after {
  content: "";

  width: 26px;
  height: 15px;

  position: absolute;

  top: 14px;
  left: 7px;

  background-image: url("../img/background/icon-vk.svg");
}
.social-button-fb::after {
  content: "";

  width: 12px;
  height: 22px;

  position: absolute;

  top: 10px;
  left: 15px;

  background-image: url("../img/background/icon-fb.svg");
}
.social-button-insta::after {
  content: "";

  width: 21px;
  height: 21px;

  position: absolute;

  top: 11px;
  left: 11px;

  background-image: url("../img/background/icon-insta.svg");
}
/*-----------------------------------*/
/*Стили активных состояний футера*/
.sub-navigation-top li:hover {
  text-decoration: underline;
}
.sub-navigation-top li:active {
  opacity: 0.5;
}
.sub-navigation-bottom li:hover {
  text-decoration: underline;
}
.sub-navigation-bottom li:active {
  opacity: 0.5;
}
.social-button li:hover {
  background-color: #ee3643;
}
.social-button li:active {
  background-color: #ee3643;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  color: #ee3643;

  text-decoration: none;
}
/*--------------------------------*/
/*Сетки модальных окон*/
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 1200px;
}
.modal-map {
  width: 940px;
}
.company-letter {
  width: 620px;
}
.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-letter-column-top {
  display: flex;
  justify-content: flex-end;

  margin-top: 48px;
}
.company-letter-column-middle {
  margin-top: 22px;
}
.company-letter-box-footer {
  margin-top: 37px;
}
.column-top-form-left {
  display: flex;
  flex-direction: column;

  width: 220px;
}
.column-top-form-right {
  display: flex;
  flex-direction: column;

  width: 220px;

  margin-left: 20px;
}
.column-middle-form {
  display: flex;
  flex-direction: column;
}
.modal-item-basket {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 620px;

  margin: 0 auto;

}
.modal-item-top-box {
  display: flex;
  flex-direction: column;

}
.modal-text-alert {
  margin-top: 68px;
}
.modal-item-box {
  display: flex;
  align-items: center;

  width: 620px;
}
.modal-item-box a {
  margin-left: 80px;

  width: 220px;
}
.modal-item-box button {
  margin-left: 20px;

  width: 220px;
}
/*--------------------*/