body {
  margin: 0;
  padding: 0;
  
  font-family: PTSans-Regular, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
.box-header-top {
  background-color: #293449;
}
.main-logo {
  background-color: #ee3643;
}
.search-site input[placeholder] {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}
.search-site input[type="text"] {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.header-bookmark a {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.header-headline {
  font-family: Cuprum-italic, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.header-box-bottom {
  background-color: #f4f7f9;
}
.header-number {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
  border: 2px solid #ffffff;
}
.header-address {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.header-button {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
  
  text-decoration: none;
}
.main-navigation {
  background-color: #32425c;
}
.main-navigation li {
  list-style: none;
}
.main-navigation a {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  
  text-decoration: none;
}
.promo-block li {
  list-style: none;
}
.promo-block h3 {
  font-family: Cuprum-bold, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.promo-block a {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
.promo-block .promo-block-drill  {
  font-family: Cuprum-Regular, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.promo-block p {
  font-family: Cuprum-Regular, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.promo-block li:nth-child(1) {
  background-color: #ffbf47;
}
.promo-block li:nth-child(2) {
  background-color: #3bbce3;
}
.promo-block li:nth-child(3) {
  background-color: #dc91d8;
}
.promo-block li:nth-child(4) {
  background-color: #8ed78f;
}
.promo-block li:nth-child(5) {
  background-color: #ffc047;
}
.promo-block li:nth-child(6) {
  background-color: #778899;
}